.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
README_EN.md
.git
.github
todo.md
images/*.gif
node_modules/**/test
node_modules/**/example
node_modules/**/examples


